form {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 90%;
}

.todo__list {
	display: flex;
	align-items: center;
	height: fit-content;
	min-height: 20px;
	margin: 10px;
	text-align: center;
	background: #303233;
	border-radius: 5px;
	/* transform: rotate(180deg); */
}
.todo__list > button {
	background: rgb(186, 134, 56);
	border: none;
	width: 100px;
}
.delete__icon {
	/* color: rgb(233, 59, 59); */
	padding: 10px;
	color: #7d5ae6;
}
.edit__icon {
	color: #4e9d12;
}
.MuiListItemText-secondary {
	color: red;
}
.todo__one {
	/* transform: rotate(-180deg); */
	height: fit-content;
	word-wrap: break-word;
	padding: 10px;
	border-radius: 10px;
}
.model__todo,
.paper {
	width: auto !important;
	display: flex !important;
	flex-direction: column !important;
	align-items: center !important;
	justify-content: center !important;
	border-radius: 10px !important;
	border: 0px !important;
}
.makeStyles-paper-1 {
	width: auto !important;
	margin: 0 16px !important;
	border-radius: 10px;
	border: none !important;
}
input {
	height: 30px;
	display: inline-flex;
	border: none;
	background-color: darkgrey;
	text-indent: 10px;
}
.edit__text{
	resize: none;
}